{% include 'layout.html' %}

<div class="container">
  <!-- Content here -->

  <div>
    <h3>Board Information</h3>
    {% if user %}
    <table class="table" style="width: 400px">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>
            <input type="text" style="display: none" id="boardNameInputField" />
            <span id="boardNameSpanField">{{ board.name }}</span>
          </td>
        </tr>
        <tr>
          <td>Private</td>
          <td>
            <input
              type="checkbox"
              value="1"
              name="private"
              style="display: none"
              id="boardPrivateInputField"
            />
            <span id="boardPrivateSpanField">{{ board.private }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <button
        type="button"
        class="btn btn-secondary"
        id="editBoardDataButton"
        onclick="editBoardData(this)"
      >
        Edit
      </button>
      <button
        type="button"
        class="btn btn-warning"
        id="saveBoardDataButton"
        style="display: none"
        onclick="updateBoardData('{{ board.id }}')"
      >
        Save
      </button>
      <a
        class="btn btn-secondary"
        style="display: none"
        href=""
        role="button"
        id="cancelBoardDataButton"
        >Cancel</a
      >
      <button
        type="button"
        class="btn btn-danger"
        id="deleteBoardDataButton"
        onclick="deleteBoard('{{ board.id }}')"
      >
        Delete
      </button>
    </div>

    {% endif %}
  </div>

  <h3>My Cards</h3>
  {% if cards %}
  <table class="table" style="width: 400px">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      {% for card in cards %}
      <tr>
        <td>
          <a class="link-opacity-100-hover" href="/internal/cards/{{ card.id }}"
            >{{ card.title }}</a
          >
        </td>
        <td>
          <span>{{ card.url }}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <a
    class="btn btn-primary"
    href="/internal/boards/{{ board.id }}/cards/new"
    role="button"
    >Create a new card</a
  >
</div>
