{% include 'layout.html' %}

<div class="container">
  <!-- Content here -->

  <div>
    <h3>Card Information</h3>
    {% if card %}
    <table class="table" style="width: 400px">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>URL</td>
          <td>{{ card.url }}</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>
            <input type="text" style="display: none" id="cardTitleInputField" />
            <span id="cardTitleSpanField">{{ card.title }}</span>
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td>
            <input
              type="text"
              style="display: none"
              id="cardDescriptionInputField"
            />
            <span id="cardDescriptionSpanField">{{ card.description }}</span>
          </td>
        </tr>
        <tr>
          <td>Thumbnail</td>
          <td>
            <input
              type="text"
              style="display: none"
              id="cardThumbnailInputField"
            />
            <span id="cardThumbnailSpanField">{{ card.thumbnail }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}

    <div>
      <button
        type="button"
        class="btn btn-secondary"
        id="editCardDataButton"
        onclick="editCardData(this)"
      >
        Edit
      </button>
      <button
        type="button"
        class="btn btn-warning"
        id="saveCardDataButton"
        style="display: none"
        onclick="updateCardData('{{ card.id }}')"
      >
        Save
      </button>
      <a
        class="btn btn-secondary"
        style="display: none"
        href=""
        role="button"
        id="cancelCardDataButton"
        >Cancel</a
      >
      <button
        type="button"
        class="btn btn-danger"
        id="deleteCardButton"
        onclick="deleteCard('{{ card.id }}')"
      >
        Delete
      </button>
      <a
        class="btn btn-secondary"
        href="/internal/boards/{{ board.id }}"
        role="button"
      >
        Back to board
      </a>
    </div>
  </div>
</div>
