{% include 'layout.html' %}

<div class="container">
  <!-- Content here -->

  <div>
    <h3>Profile Information</h3>
    {% if user %}
    <table class="table" style="width: 400px">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Email Address</td>
          <td>{{ user.email_address }}</td>
        </tr>
        <tr>
          <td>Username</td>
          <td>
            <span>{{ user.user_name }}</span>
          </td>
        </tr>
        <tr>
          <td>First Name</td>
          <td>
            <input type="text" style="display: none" id="firstNameInputField" />
            <span id="firstNameSpanField">{{ user.first_name }}</span>
          </td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>
            <input type="text" style="display: none" id="lastNameInputField" />
            <span id="lastNameSpanField">{{ user.last_name }}</span>
          </td>
        </tr>
        <tr style="display: none" id="newPasswordRow">
          <td>New Password</td>
          <td>
            <input type="password" id="newPasswordInputField" />
          </td>
        </tr>
        <tr style="display: none" id="repeatPasswordRow">
          <td>Repeat Password</td>
          <td>
            <input type="password" id="repeatPasswordInputField" />
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <button
        type="button"
        class="btn btn-secondary"
        id="editUserDataButton"
        onclick="editUserData(this)"
      >
        Edit
      </button>
      <button
        type="button"
        class="btn btn-warning"
        style="display: none"
        id="saveUserDataButton"
        onclick="updateUserData('{{ user.id }}')"
      >
        Save
      </button>

      <a
        class="btn btn-secondary"
        style="display: none"
        href=""
        role="button"
        id="cancelUserDataButton"
        >Cancel</a
      >

      <button
        type="button"
        class="btn btn-secondary"
        id="editPasswordButton"
        onclick="editPassword(this)"
      >
        Change password
      </button>
      <button
        type="button"
        class="btn btn-warning"
        style="display: none"
        id="savePasswordButton"
        onclick="savePassword(this, '{{ user.id }}')"
      >
        Save password
      </button>
      <a
        class="btn btn-secondary"
        style="display: none"
        href=""
        id="cancelPasswordButton"
        role="button"
        >Cancel</a
      >
    </div>

    {% endif %}
  </div>

  <h3>My Boards</h3>
  {% if boards %}
  <table class="table" style="width: 400px">
    <thead>
      <tr>
        <th scope="col">Board</th>
        <th scope="col">Private</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr>
        <td>
          <a class="link-opacity-100-hover" href="/boards/{{ board.id }}"
            >{{ board.name }}</a
          >
        </td>
        <td>
          <span>{{ board.private }}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <a class="btn btn-primary" href="/boards/new" role="button"
    >Create a new board</a
  >
</div>
