{% include 'layout.html' %}

<div class="container">
  <!-- Content here -->

  <div>
    <h3>Profile Information</h3>
    {% if user %}
    <table class="table" style="width: 400px">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Email Address</td>
          <td>{{ user.email_address }}</td>
        </tr>
        <tr>
          <td>Username</td>
          <td>
            <input type="text" style="display: none" />
            <span>{{ user.user_name }}</span>
          </td>
        </tr>
        <tr>
          <td>First Name</td>
          <td>
            <input type="text" style="display: none" />
            <span>{{ user.first_name }}</span>
          </td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>
            <input type="text" style="display: none" />
            <span>{{ user.last_name }}</span>
          </td>
        </tr>
        <tr style="display: none">
          <td>New Password</td>
          <td>
            <input type="password" />
          </td>
        </tr>
        <tr style="display: none">
          <td>Repeat Password</td>
          <td>
            <input type="password" />
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <button
        type="button"
        class="btn btn-secondary"
        onclick="editUserData(this)"
      >
        Edit User Info
      </button>
      <button
        type="button"
        class="btn btn-warning"
        style="display: none"
        onclick="updateUserData(this, '{{ user.id }}')"
      >
        Save User Info
      </button>

      <a
        class="btn btn-secondary"
        style="display: none"
        href="/me/"
        role="button"
        >Cancel</a
      >

      <button
        type="button"
        class="btn btn-secondary"
        onclick="editPassword(this)"
      >
        Change password
      </button>
      <button
        type="button"
        class="btn btn-warning"
        style="display: none"
        onclick="savePassword(this, '{{ user.id }}')"
      >
        Save new password
      </button>
      <a
        class="btn btn-secondary"
        style="display: none"
        href="/me/"
        role="button"
        >Cancel</a
      >
    </div>

    {% endif %}
  </div>

  <h3>My Boards</h3>
  {% if boards %}
  <table class="table" style="width: 400px">
    <thead>
      <tr>
        <th scope="col">Board</th>
        <th scope="col">Private</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr>
        <td>
          <input type="text" style="display: none" />
          <span>{{ board.name }}</span>
        </td>
        <td>
          <input
            class="form-check-input me-2"
            type="checkbox"
            value="1"
            name="private"
            style="display: none"
          />
          <span>{{ board.private }}</span>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-secondary"
            onclick="editBoardData(this)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-warning"
            style="display: none"
            onclick="updateBoardData(this, '{{ board.id }}')"
          >
            Update
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            onclick="deleteBoard('{{ board.id }}')"
          >
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <a class="btn btn-primary" href="/boards/new" role="button"
    >Create a new board</a
  >
</div>
