<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/me/">Recommend</a>

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      {% if user %}
      <div class="dropdown">
        <a
          class="btn btn-primary dropdown-toggle"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          href="#"
          role="button"
          >Hello, {{ user.first_name }}</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/session/logout">Logout</a>
        </div>
      </div>

      {% else %}
      <a class="btn btn-primary" href="/session/new" role="button"
        >Login / Register</a
      >

      {% endif %}
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
